.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.root
{
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}
body{
  background-color: #242424; 
  background-repeat:no-repeat; 
  background-position: center;
}
form{
  background-color: wheat;
}
div{
  text-align: center; 
  font-size: 24x;
   margin: 0px; 
   padding: 0px;
}
select{
  background-color: cadetblue;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}
select:hover{
  background-color: burlywood;
  opacity: .33;
}
select:active
{
  background-color: burlywood;
}
li{
  margin: 0px 50px;
}
button{
  background-color:#2D5D5F;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
}
button:hover{
  color: cornsilk !important;
  background-color: cadetblue !important;
}
h1{
  color: black;
  font-size: 48px;
  font-family: 'Oxanium', cursive;
}
h1-color{
  color: #2D5D5F;
  font-size: 48px;
  font-family: 'Oxanium', cursive;
}
h2{
  text-align: center;
  color: #707070;
  font-size: 24px;
  font-family: 'Oxanium', cursive;
}
h2-color{
  text-align: center;
  color: #905442;
  font-size: 24px;
  font-family: 'Oxanium', cursive;
}
p{
  font-family: verdana;
  font-size: 20px;
}
ul{
  list-style-type: none;  
  margin: 0;
  padding: 0;
  display: inline-block;  
  text-align: center;
}
li{
  font-size: 24px;
  margin: 25px;
  color: black;
  display: inline-block;
  background: none;
  border: none;
  text-decoration: none;
  color: cornsilk;
}
a, a:active, a:hover, a:visited a:link{
  color:black !important;
  text-decoration: none;
}
a:hover{
  color: cornsilk !important;
  background-color: cadetblue !important;
}
.nav{
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.nav li
{
  display:inline;
}
.nav a{
  display:inline-block;
  padding:10px;
}
#footer{
  position: fixed;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 12%;
  background-color:#707070;
}
#header{  
  position: fixed;
  align-content: center;
  text-align: center; 
  padding-top: 1px; 
  margin-top: 0px;
  top: 0 !important;
  left: 0;
  right: 0;
  width: 100%;
  height: 12%;
  padding-bottom: 75px;
  background-color: #333333;
}
h1{
  margin-bottom: 0px; 
  font-size: 68px; 
  color: #2D5D5F
}
p{
  margin-top: 0px;
  font-size: 24px;
  color: burlywood
}
.dropbtn 
{
  background-color: #2D5D5F;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}

.dropdown 
{
  position: relative;
  display: inline-block
}

.dropdown-content 
{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px
}

.dropdown-content a 
{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: table;}
.dropdown:hover .dropbtn {background-color: burlywood; color: #2D5D5F;}

#wrapper { 
  align-content: center;
  width: 700px;
  overflow: hidden; /* add this to contain floated children */
}
#first {
  width: 250px;
  float:left; /* add this */
}
#second {
  width: 250px;
  float: left; /* add this */
}
